@import 'https://fonts.googleapis.com/css?family=Space+Mono:400,700';
/*@font-face { font-family: Aeonik; src: url('Aeonik-Medium.otf'); } 
@font-face { font-family: Aeonik; font-weight: bold; src: url('Aeonik-Black.otf');}
@font-face { font-family: Aeonik; font-weight: 200; src: url('Aeonik-Light.otf');}*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&display=swap');*/
/* Nav Bar */ 




/* Typography */ 

.inner-page h1 {
  font-weight: 700;
}

.inner-page h2 {
  font-weight: 700;
  margin-top: 0.5em;
}

hr{
  margin-top: 2em;
}

.inner-page p {
  font-size: 20px;
}

.inner-page h3 {
  color: #2D37D5;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p {
  color: #292828;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 0.03em;
}

h1, .h1 {
  font-size: 50px;
  line-height: 60px;
}

h2, .h2 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
}

h3, .h3 {
  font-size: 24px;
  line-height: 34px;
}

h4, .h4 {
  font-size: 20px;
  line-height: 30px;
}

h5, .h5 {
  font-size: 16px;
  line-height: 26px;
}

h6, .h6 {
  font-size: 14px;
  line-height: 18px;

}

p {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Work Sans', sans-serif;
}



.nav {
  display: block;
}

a {
  color: #2D37D5;
  font-family: 'Work Sans', sans-serif; 
  transition: all .25s ease;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  font-family: 'Work Sans', sans-serif; 
  color: #000;
  text-decoration: underline;
  outline: none;
}

.nav-link {
  font-family: 'Work Sans', sans-serif; 
  color: #000;
}

.nav-link:hover {
  font-family: 'Work Sans', sans-serif; 
  color: #222222;
}
.main-nav .header-top-socials a {
  letter-spacing: 1px;
  font-size: 14px;
  padding: 20px 6px;
}

.navbar-nav .nav-link {
  padding: 20px 15px !important;
  font-size: 20px;
}

.navbar-nav>.active> a, 
.navbar-nav>.active> a:focus, 
.navbar-nav>.active> a:hover {
  color: #2D37D5; /* Anything you want */
}


/* horizontal */ 

  html,
  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  
  body {
    
  }
  
  body :not(input):not(textarea) {
    touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  
  canvas {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .h-scroll {
    overflow-x: scroll;
    display: -webkit-box;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
  
  .hs {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    margin: 1rem 1.5rem 1rem 0;
    -webkit-box-flex: 0;
            flex: 0 0 500px;
  }
  .hs-project {
    position: relative;
    overflow: hidden;
    max-width: 600px;
    margin: 1rem 1.5rem 1rem 0;
    -webkit-box-flex: 0;
            flex: 0 0 500px;
  }
  @media (min-width: 600px) {
    .hs {
      /*max-width: 500px;*/
    }
  }
  .hs__img {
    height: auto;
    max-width: 500px;
    overflow: hidden;
  }
  @media (min-width: 600px) {
    .hs__img {
      height: auto;
    }
  }
  
  .fit-cover {
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  /* Sidebar */

  #sidebar {
    top: 100px;
    position: -webkit-sticky;
    position: sticky;
    font-size: 16px;
  }

  .icon-bar {
    background-color:black;
  }

  .affix-top, .affix{
    position: fixed;
 
  }
  
  @media (min-width: 979px) {
    #sidebar.affix-top {
      position: static;
      margin-top:30px;
      width:228px;
    }
    
    #sidebar.affix {
      position: fixed;
      top:70px;
      width:228px;
    }
  }

/* zoom */

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.shrink {
  transition: transform .2s; /* Animation */
}

.shrink:hover
{
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}


/*cube*/

.edit {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  background: #000000;
  color: white;
}

.cube, .face {
  position: absolute;
  top: 50%;
  left: 50%;
}

.cube {
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(30deg);
  animation: rotate 6s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotateX(-30deg) rotateY(-150deg);
  }
  to {
    transform: rotateX(-30deg) rotateY(210deg);
  }
}
.face {
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  margin: -.5em 0 0 -.5em;
  border: 2px solid;
  transform-style: preserve-3d;
}
.face::before {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: mask 6s linear infinite;
}
.face:nth-child(1) {
  transform: translateZ(0.5em);
}
.face:nth-child(2) {
  transform: rotateY(-90deg) translateZ(0.5em);
}
.face:nth-child(3) {
  transform: rotateX(90deg) translateZ(0.5em);
}
.face:nth-child(4) {
  transform: rotateY(180deg) translateZ(0.5em);
}
.face:nth-child(5) {
  transform: rotateY(90deg) translateZ(0.5em);
}
.face:nth-child(6) {
  transform: rotateX(-90deg) translateZ(0.5em);
}
.face:nth-child(1)::before {
  background-image: linear-gradient(to top, currentColor, currentColor), linear-gradient(to top, currentColor, currentColor), linear-gradient(to top right, rgba(0, 0, 0, 0) calc(50% - 1.5px), currentColor calc(50% - 1px), currentColor calc(50% + 1px), rgba(0, 0, 0, 0) calc(50% + 1.5px)), linear-gradient(to top, #2c3e50, #2c3e50);
  background-size: 2px 0.33333em, 0.42265em 2px, 0.57735em 0.66667em, calc(1em - 4px) calc(1em - 4px);
  background-position: calc(0.42265em - 1px) 0, 0 calc(.3333333em - 1px), bottom right, center;
}
.face:nth-child(2)::before {
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0) calc(50% - 1.5px), currentColor calc(50% - 1px), currentColor calc(50% + 1px), rgba(0, 0, 0, 0) calc(50% + 1.5px)), linear-gradient(to top, #2c3e50, #2c3e50);
  background-size: 100% 0.66667em, calc(1em - 4px) calc(1em - 4px);
  background-position: bottom right, center;
}
.face:nth-child(3)::before {
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0) calc(50% - 1.5px), currentColor calc(50% - 1px), currentColor calc(50% + 1px), rgba(0, 0, 0, 0) calc(50% + 1.5px)), linear-gradient(to top, #2c3e50, #2c3e50);
  background-size: 0.57735em 100%, calc(1em - 4px) calc(1em - 4px);
  background-position: bottom right, center;
  animation: mask 6s linear infinite, topPosition 6s ease-in-out infinite;
}

@keyframes mask {
  from, 50% {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@keyframes topPosition {
  from, 50% {
    background-position: bottom right, center;
  }
  to {
    background-position: bottom left, center;
  }
}
