@import 'https://fonts.googleapis.com/css?family=Space+Mono:400,700';

/* Nav Bar */ 

.nav {
  display: block;
}

a {
  color: #1425ca;
  font-family: 'Space Mono', sans-serif; 
  transition: all .25s ease;
  padding: 10px;
}

a:hover {
  font-family: 'Space Mono', sans-serif; 
  color: #000;
  text-decoration: none;
  outline: none;
}

.nav-link {
  font-family: 'Space Mono', sans-serif; 
  color: #000;
}

.nav-link:hover {
  font-family: 'Space Mono', sans-serif; 
  color: #1425ca;
}
.main-nav .header-top-socials a {
  letter-spacing: 1px;
  font-size: 14px;
  padding: 20px 6px;
}

.navbar-nav .nav-link {
  padding: 20px 15px !important;
  font-size: 20px;
}

.navbar-nav>.active> a, 
.navbar-nav>.active> a:focus, 
.navbar-nav>.active> a:hover {
  color: #1425ca; /* Anything you want */
}

/* Typography */ 

.inner-page h1 {
  font-weight: 700;
}

.inner-page h2 {
  font-weight: 700;
}

.inner-page p {
  font-size: 20px;
}

.inner-page h3 {
  font-weight: 700;
  color: #2D37D5;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'Space Mono', sans-serif; 
  color: #292828;
}

h1, .h1 {
  font-size: 40px;
  line-height: 60px;
}

h2, .h2 {
  font-size: 30px;
  line-height: 52px;
}

h3, .h3 {
  font-size: 24px;
  line-height: 34px;
}

h4, .h4 {
  font-size: 20px;
  line-height: 30px;
}

h5, .h5 {
  font-size: 16px;
  line-height: 26px;
}

h6, .h6 {
  font-size: 14px;
  line-height: 18px;

}

p {
  /*font-family: "Heebo", sans-serif;*/
}


/* horizontal */ 

  html,
  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  
  body {
    
  }
  
  body :not(input):not(textarea) {
    touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  
  canvas {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .h-scroll {
    overflow-x: scroll;
    display: -webkit-box;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
  
  .hs {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    margin: 1rem 1.5rem 1rem 0;
    -webkit-box-flex: 0;
            flex: 0 0 500px;
  }
  @media (min-width: 600px) {
    .hs {
      max-width: 500px;
    }
  }
  .hs__img {
    height: auto;
    overflow: hidden;
  }
  @media (min-width: 600px) {
    .hs__img {
      height: auto;
    }
  }
  
  .fit-cover {
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  /* Sidebar */

  .icon-bar {
    background-color:black;
  }

  .affix-top, .affix{
    position: fixed;
 
  }
  
  @media (min-width: 979px) {
    #sidebar.affix-top {
      position: static;
      margin-top:30px;
      width:228px;
    }
    
    #sidebar.affix {
      position: fixed;
      top:70px;
      width:228px;
    }
  }

/* zoom */

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}